<form action="/setup_secuencia" method="get">
<fieldset>

        <legend><b>Ingresar dimension del mapa: </b> </legend>
    Tamaño X del Mapa<input type="text" size="10" min=1 max="10" value="5" name="tamX"><br>
    Tamaño Y del Mapa<input type="text" size="10" min=1 max="10" value="5" name="tamY"><br>
    Numero de Autos <input type="number" min="1" max="3" value="1" name="numAutos" id="numAutos"><br>


    <input type="submit" value="Siguiente">

</fieldset>

</form>
