<form action="/setup_secuencia" method="post">
<fieldset>
        <legend><b>Ingresar tamaño del terreno para simular: </b> </legend>
    Tamaño X<input type="number" size="10" min=1 max="10" value="5" name="tamX" id='tamX'><br>
    Tamaño Y<input type="number" size="10" min=1 max="10" value="5" name="tamY" id='tamY'><br>
    Numero de autos: <input type="number" size="6" name="autos" min="1" max="5" value="1" id='num'><br>
    
    <%#Cambiar lo de arriba para seguir lo de abajo #
    Age: <input type="number" size="6" name="age" min="18" max="99" value="21"><br>
    Satisfaction: <input type="range" size="2" name="satisfaction" min="1" max="5" value="3"> %>

    <input type="submit" value="Ingresar Dimensiones">
    <input type="submit" value="Go Elsewhere" formaction="/" method="get">

</fieldset>

</form>
