
<h1>Ingreso de Datos</h1>
<h3>Dimensiones: <%=@tamX%> x <%=@tamY%></h3>

<h3>Autos: <%=@numAutos%>

<form action="/simulacion" method="post">
    <legend> <b> Ingresar datos para simular: </b> </legend>

    <fieldset>
    <% if @aa %>
       Posicion X  <br>
        <input type="text" name="X1"><br>

        Posicion Y <br>
        <input type="text" name="Y1"><br>

        Orientacion <br>
        <input type="text" name="orientacion1"><br>

        Instrucciones<br>
        <input type="text" name="instrucciones1"><br>
        <br><br>
    
    <% end %>
    <% if @bb %>
       Posicion X  <br>
        <input type="text" name="X2"><br>

        Posicion Y <br>
        <input type="text" name="Y2"><br>

        Orientacion <br>
        <input type="text" name="orientacion2"><br>

        Instrucciones<br>
        <input type="text" name="instrucciones2"><br>
        <br><br>
    
    <% end %>
    <% if @cc %>
    Posicion X  <br>
    <input type="text" name="X3"><br>

    Posicion Y <br>
    <input type="text" name="Y3"><br>

    Orientacion <br>
    <input type="text" name="orientacion3"><br>

    Instrucciones<br>
    <input type="text" name="instrucciones3"><br>
    <br><br>

    <% end %>
    </fieldset>
    <input type="submit" value="Simular">

</form>