
<h1>Parametros de Autos</h1>
<h3>Dimensiones del Mapa: <%=@tamX%> x <%=@tamY%></h3>

<h3>Numero de Autos: <%=@@numAutos%>

<form action="/simulacion" method="post">
    <legend> <b> Ingresar Posiciones Iniciales e Instrucciones: </b> </legend>

    <fieldset>
    <% if @@aa %>
    <h2>Auto 1 </h2>
       Posicion X  <br>
        <input type="text" name="X1"><br>

        Posicion Y <br>
        <input type="text" name="Y1"><br>

        Orientacion <br>
        <input type="text" name="orientacion1"><br>

        Instrucciones<br>
        <input type="text" name="instrucciones1"><br>
        <br><br>
    
    <% end %>
    <% if @@bb %>
        <h2>Auto 2 </h2>

       Posicion X  <br>
        <input type="text" name="X2"><br>

        Posicion Y <br>
        <input type="text" name="Y2"><br>

        Orientacion <br>
        <input type="text" name="orientacion2"><br>

        Instrucciones<br>
        <input type="text" name="instrucciones2"><br>
        <br><br>
    
    <% end %>
    <% if @@cc %>
        <h2>Auto 3 </h2>

    Posicion X  <br>
    <input type="text" name="X3"><br>

    Posicion Y <br>
    <input type="text" name="Y3"><br>

    Orientacion <br>
    <input type="text" name="orientacion3"><br>

    Instrucciones<br>
    <input type="text" name="instrucciones3"><br>
    <br><br>

    <% end %>
    </fieldset>
    <input type="submit" value="Simular">

</form>