
<h1>Ingreso de Datos</h1>
<h3>Dimensiones: <%=@tamX%> x <%=@tamY%></h3>
<form action="/simulacion" method="post">
    <fieldset>
        <legend> <b> Ingresar datos para simular: </b> </legend>
        Posicion X<br>
        <input type="text" name="X"><br>
        Posicion Y<br>
        <input type="text" name="Y"><br>
        Orientacion<br>
        <input type="text" name="orientacion"><br>
        Instrucciones<br>
        <input type="text" name="instrucciones"><br>
        <input type="submit" value="Simular">
    </fieldset>
</form>