<h2>Resultados de la simulacion</h2>

 <fieldset>
        <legend><b>Datos</b></legend>

    <b>Posicion Inicial:</b>
    
    X: <%=@posX%> , Y: <%=@posY%> Ori.: <%=@orientacion%>
    <br>
    <b>Instrucciones:</b>
    <%simular()%>
    <br>
 </fieldset>

    <h3>Posicion Final: <%=@result%></h3>
